<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title><%=title%></title>
</head>
<style>
    body{
        text-align: center;
        background-color: black;
    }
    #button1{
        position: absolute;
        top: 50%;
        right: 55%;
    }
    #button2{
        position: absolute;
        top: 50%;
        right: 45%;
    }
</style>
<body>
    <div class="container-fluid">
        <a id="button1" href="/register/signup"><button class="btn btn-info">SignUp</button></a>
        <a id="button2" href="/register/signin"><button class="btn btn-info">SignIn</button></a>
    </div>
</body>
</html>