<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title><%=title%></title>
</head>
<style>
    body{
        text-align: center;
        background-color:aquamarine;
        /* border: 10ch; */
        font-family: 'Courier New', Courier, monospace;
    }
</style>
<body>
    <div class="container">
        <form action="/register/signup" method="post">
            <br><br><br><br>
            <div class="form-group">
                <label>Name</label> &NonBreakingSpace; &nbsp;&nbsp;
                <input type="text" placeholder="Enter Your Name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label> &NonBreakingSpace; &nbsp;
                <input type="text" placeholder="Enter your email" name="email" required/>
            </div>
            <div class="form-group">
                <label for="username">Username</label> &NoBreak;&NoBreak;
                <input type="text" placeholder="Enter your username" name="username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>&NonBreakingSpace;
                <input type="password" placeholder="******" name="password" required/>
                <!-- show password -->
            </div>
            <div class="form-group">
                &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" placeholder="******" name="password2" required/>
            </div>
            <button class="btn btn-dark">Signup</button>
        </form>
    </div>
</body>
</html>