<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title><%=title%></title>
</head>
<style>
    body{
        text-align: center;
        background-color:aquamarine;
        border: 10ch;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
<body>
    <div class="container">
        <form action="/register/signin" method="post">
            <br><br><br><br><br>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" />
            </div><br>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password"/>
                <!-- put show password -->
            </div><br><br>
            <button class="btn btn-dark">SignIn</button>
        </form>
    </div>
</body>
</html>